<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>BKNS | Covid-19</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/util.css')}}">

</head>

<body>
    <div class="container m-auto" style="text-align: center;">
        <div id="bkns" style="font-family: 'Indie Flower', cursive; font-weight: bold; font-size: 5.5rem;">
            <span style="color: #13B9EA;">BKNS</span>
            <h1 class="mb-3" style="color: #e60000;">Covid-19</h1>
        </div>