<nav class="nav justify-content-center my-3 border" id="scroll_tr">
    <ul class="nav">
        <li class="nav-item">
            <a href="{{url_for('index')}}" class="nav-link active">Home</a>
        </li>
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="dropdown-menu" data-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Consultas por país</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                <a class="dropdown-item" href="{{url_for('pais', pais='brazil')}}">Brasil</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='united-states')}}">Estados Unidos</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='russia')}}">Russia</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='united-kingdom')}}">Reino Unido</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='spain')}}">Espanha</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='italy')}}">Italia</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='france')}}">França</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='germany')}}">Alemanha</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='turkey')}}">Turquia</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='iran')}}">Irã</a>
                <a class="dropdown-item" href="{{url_for('pais', pais='china')}}">China</a>
            </div>
        </li>
    </ul>
</nav>

<div class="scroll" id="scroll_trigger">
    <a><i class="fas fa-angle-double-down"></i></a>
</div>