html {
    scroll-behavior: smooth;
}

/* Fixa o thead/titulos da tabela quando esta preste a sumir, assim facilitando a leitura */
th {
    position: sticky;
    top: 0;
}

/* Estilização do botão de atalaho de scroll (down/up) */
.scroll{
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 10px;
}

.scroll i {
    font-size: 35px;
    color: black;
}

.scroll_up {
    transform: rotate(-180deg);
    transition-duration: 2.5s;
}

.scroll_down{
    transform: rotate(0deg);
    transition-duration: 2.5s;
}

.endtable {
    position: fixed;
    bottom: 0px;
}

.grafico{
    text-align: -webkit-center;
}
