{% include 'topo/includes.html' %}

{% if message %}
    <div class="alert alert-danger" role="alert">
        <strong>{{ message }}</strong>
    </div>
{% else %}
<div class="alert alert-warning" role="alert">
    <strong>Entre as datas 29/04 a 03/05 não obtivemos resposta da fonte.</strong>
</div>
{% endif %}


    {% autoescape false %}
    {{ grafico_template }}
    {% endautoescape %}


<table class="table table-bordered table-hover text-center">
    <thead id="table_head">
        <tr class="thead-dark">
            <th class="text-left">Países</th>
            {% if dados_comProvincia %}
                <th>Cidade</th>
            {% endif %}
            <th>Total confirmados</th>
            <th>Mortos</th>
            <th>Recuperados</th>
            <th>Data dos dados</th>
        </tr>
    </thead>
    <tbody>

        {% if dados_comProvincia %}
            {% for info in dados_comProvincia %}
            <tr>
                <td class="text-left">
                    <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                    {{ info.pais }}
                </td>
                <td class="align-middle">{{ info.provincia }}</td>
                <td class="align-middle">{{ info.total_confirmados }}</td>
                <td class="align-middle">{{ info.total_mortos }}</td>
                <td class="align-middle">{{ info.total_recuperados }}</td>
                <td class="align-middle">{{ info.data }}</td>
            </tr>
            {% endfor %}
    {% else %}
            {% for info in dados_semProvincia %}
                <tr>
                    <td class="text-left">
                        <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                        {{ info.pais }}
                    </td>
                    <td class="align-middle">{{ info.total_confirmados }}</td>
                    <td class="align-middle">{{ info.total_mortos }}</td>
                    <td class="align-middle">{{ info.total_recuperados }}</td>
                    <td class="align-middle">{{ info.data }}</td>
                </tr>
            {% endfor %}
    {% endif %}
    </tbody>
</table>

{% include 'script.html' %}