{% include 'topo/includes.html' %}

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr class="thead-dark">
            <th class="text-left">Países</th>
            {% if provincia != False %}
                <th>Cidade</th>
            {% endif %}
            <th>Total confirmados</th>
            <th>Mortos</th>
            <th>Recuperados</th>
            <th>Data dos dados</th>
        </tr>
    </thead>
    <tbody>

        {% for info in dados %}
            {% if info.provincia != '' and info.pais != '' %}
            <tr>
                <td class="text-left">
                    <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                    {{ info.pais }}
                </td>
                <!-- {% if provincia != '' %} -->
                <td class="align-middle">{{ info.provincia }}</td>
                <!-- {% endif %} -->
                <td class="align-middle">{{ info.total_confirmados }}</td>
                <td class="align-middle">{{ info.total_mortos }}</td>
                <td class="align-middle">{{ info.total_recuperados }}</td>
                <td class="align-middle">{{ info.data }}</td>
            </tr>
            {% endif %}
           
            {% if info.provincia == '' and info.pais != '' %}
            <tr>
                <td class="text-left">
                    <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                    {{ info.pais }}
                </td>
                <td class="align-middle">{{ info.total_confirmados }}</td>
                <td class="align-middle">{{ info.total_mortos }}</td>
                <td class="align-middle">{{ info.total_recuperados }}</td>
                <td class="align-middle">{{ info.data }}</td>
            </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>

{% include 'script.html' %}