{% include 'topo/includes.html' %}

{% if message %}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
{% endif %}

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr class="thead-dark">
            <th class="text-left">Países</th>
            {% if provincia %}
                <th>Cidade</th>
            {% endif %}
            <th>Total confirmados</th>
            <th>Mortos</th>
            <th>Recuperados</th>
            <th>Data dos dados</th>
        </tr>
    </thead>
    <tbody>

        {% for info in dados %}
            {% if info.provincia %}
            <tr>
                <td class="text-left">
                    <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                    {{ info.pais }}
                </td>
                <td class="align-middle">{{ info.provincia }}</td>
                <td class="align-middle">{{ info.total_confirmados }}</td>
                <td class="align-middle">{{ info.total_mortos }}</td>
                <td class="align-middle">{{ info.total_recuperados }}</td>
                <td class="align-middle">{{ info.data }}</td>
            </tr>
            {% elif dados[0]['provincia'] == info['provincia'] and dados[3]['provincia'] == info['provincia'] %}
                <tr>
                    <td class="text-left">
                        <img src="https://www.countryflags.io/{{ info.codigo }}/shiny/64.png" style="width: 50px">
                        {{ info.pais }}
                    </td>
                    <td class="align-middle">{{ info.total_confirmados }}</td>
                    <td class="align-middle">{{ info.total_mortos }}</td>
                    <td class="align-middle">{{ info.total_recuperados }}</td>
                    <td class="align-middle">{{ info.data }}</td>
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>

{% include 'script.html' %}